* {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  color: #fff;
}

::selection {
  background: #42e4a4;
}

.greener {
  color: #42e4a4;
}

wrapper {}

.title {
  background: url('images/coffebackdrop.jpg') center center no-repeat;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-inner {}

.title h1 {
  font-size: 3em;
  margin: 30px 0;
}

.title h3 {
  font-weight: 100;
}

.title-button {
  background-color: transparent;
  border: 2px solid #42e4a4;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0px 40px;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  transition: all 0.4s ease;
}

.title-button:hover {
  background-color: #42e4a4;
  color: #fff;
}

.about {
  background: url('images/greenbackdrop.jpg') center center no-repeat;
  background-size: cover;
}